body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 50%;
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.step-item {
    z-index: 10;
    & .active {
        background-color: transparent;
        border: 2px solid var(--primary-color);
    }
    & .step-inicio {
        display: flex;
        margin-left: -28px;
    }
    & .step-documentos {
        display: flex;
        margin-left: -7px;
    }
    & .step-dados-cadastrais {
        display: flex;
        margin-left: -5px;
    }
    & .step-admissão {
        display: flex;
        margin-left: -9px;
    }
}

.step-button {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: none;
    background-color: var(--ailos-grey);
}

#progress {
    top: 9px;
    position: absolute;
    width: 92%;
    z-index: 5;
    height: 2px;
}

#progress::-webkit-progress-value {
    background-color: var(--primary-color);
    transition: .2s ease;
}

#progress::-webkit-progress-bar {
    background-color: var(--ailos-grey);
}

.input-cpf {
    border-radius: 0;
}

.card {
    border-radius: 0;
    width: 22.5rem;
    min-height: 232px;
}

.query-btn, .primary-btn {
    border-radius: 0;
    color: var(--body-color);
    background-color: var(--primary-color);
}

.primary-btn {
    padding: .6rem;
    border-radius: 0;
    color: var(--body-color);
    background-color: var(--primary-color);
}

.secondary-btn {
    padding: .6rem;
    border-radius: 0;
    color: var(--text-color);
    background-color: var(--alios-white);
    border: 2px solid var(--primary-color);
}

.text-muted {
    color: var(--ailos-grey);
}

fa-icon {
    color: var(--ailos-grey);
    font-size: 1.3rem;
}

.icon-check {
    color: var(--green);
}

.footer {
    width: 85%;
    position: fixed;
    bottom:0;
    padding: .8rem;
    background: var(--alios-white);
}

.link-card {
    cursor: pointer;
}