<div class="container my-4">
    <div class="steps">
        <progress id="progress" value="0" max="100"></progress>
        <div class="step-item">
            <button class="step-button text-center active" type="button" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
            </button>
            <span class="d-block step-name">Inicio</span>
        </div>
        <div class="step-item">
            <button class="step-button text-center" type="button" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree" style="margin-left: 27px;">
            </button>
            <span class="d-block step-name">Documentos</span>
        </div>
        <div class="step-item">
            <button class="step-button text-center" type="button" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree" style="margin-left: 45px;">
            </button>
            <span class="d-block step-name">Dados cadastrais</span>
        </div>
        <div class="step-item">
            <button class="step-button text-center" type="button" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
            </button>
            <span class="d-block step-name" style="margin-left: -24px;">Admissão</span>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingOne">
        <h2 class="mb-0"></h2>
    </div>
</div>