<nav class="sidebar" [ngClass]="{'close': sideNavStatus}">
    <header>
        <div class="image-logo m-2">
            <span class="image">
                <img src="../../../../assets/logo.png" alt="ailos logo">
            </span>
        </div>
    </header>
    <div class="menu-bar p-2">
        <div class="menu">
            <ul class="menu-links p-1">
                <fa-icon class="icon icon-bar toggle" [icon]="faBars" (click)="toggleSideBar()"></fa-icon>
                <div class="search-box mt-3">
                    <fa-icon class="icon me-2" [icon]="faMagnifyingGlass"></fa-icon>
                    <input type="search" placeholder="Pesquisa...">
                </div>
                <li class="nav-link">
                    <a href="">
                        <fa-icon class="icon me-2" [icon]="faStar"></fa-icon>
                        <span><a class="text nav-text">Favoritos</a></span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="">
                        <fa-icon class="icon me-2" [icon]="faMessage"></fa-icon>
                        <span><a class="text nav-text">Mensagem</a></span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="">
                        <fa-icon class="icon me-2" [icon]="faBuildingColumns"></fa-icon>
                        <span><a class="text nav-text">Configurações</a></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="home">
    <app-header></app-header>
</section>